table {
    border: 1px solid #000;
    margin: 50px;
    margin: 0 auto;
}

th {
    border: 1px solid #000;
    background-color: #ED4C5C;
    height: 60px;
    text-align: center;
    min-width: 50px !important;
    text-align: center;
    color: #fff;
}

td {
    border: 1px solid #000;
    text-align: center;
    min-height: 100px !important;
    height: 80px;
    position: relative;
}

.text {
    max-width: 800px !important;
}

a {
    font-size: 24px;
    text-decoration: none;
    height: auto;
}

.edt_btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: #fff;
    border: none;
    transition: 0.3s;
}

.edt_btn:hover {
    background-color: #fff;
    color: green;
}

.bck_btn {
    margin-top: 50px;
    border-radius: 6px;
    height: 60px;
    width: 200px;
    font-size: 24px;
    border: none;
    background-color: green;
    color: #fff;
    transition: 0.3s;
}

.bck_btn:hover {
    border: 1px solid green;
    background-color: #fff;
    color: green;
}